## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
*.DotSettings.user

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User-specific files
*.rsuser
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
